*DS_Store
*.sh
slurm*
runs
.idea/
.DS_Store
applet
application.linux-arm64
application.linux-armv6hf
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
out
Configs/*
!Configs/RNN1.json
!Configs/RNN2.json
!Configs/RNN3.json
!Configs/RNN-aidadsp-1.json
!Configs/RNN-aidadsp-2.json
!Configs/RNN-aidadsp-3.json
!Configs/RNN-aidadsp-4.json
!Configs/RNN-aidadsp-5.json
!Configs/RNN-aidadsp-6.json
!Configs/RNN-aidadsp-7.json
!Configs/RNN-aidadsp-8.json
!Configs/RNN-aidadsp-9.json
!Configs/RNN-aidadsp-10.json
Data/test/*
!Data/test/.gitkeep
Data/train/*
!Data/train/.gitkeep
Data/val/*
!Data/val/.gitkeep
Results/*
!Results/.gitkeep
