*DS_Store
*.sh
slurm*
runs
.idea/
.DS_Store
applet
application.linux-arm64
application.linux-armv6hf
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
out
Configs/*
!Configs/RNN1.json
!Configs/RNN2.json
!Configs/RNN3.json
!Configs/RNN3-aidadsp-1.json
Data/test/*
!Data/test/.gitkeep
Data/train/*
!Data/train/.gitkeep
Data/val/*
!Data/val/.gitkeep
Results/*
!Results/.gitkeep
